$app-background: #f7f5f8;
$header-background: #fff;
$section-background: #d4c4cf;
$product-background: #fff;
$header-text: #000;
$light-header-text: #fff;
$dark-main: #4a3b54;
$footer-text: rgb(112, 98, 98);
$footer-background: #cfd4dd;
$button-hover: #b53813;
$sign-in-hover: #a89682;
$nav-text: #fff;
$horizontal-line: #9a9a9a;

@mixin button-main {
  background-color: $dark-main;
  border: none;
  color: $app-background;
  padding: 10px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 10px;
}

@mixin button-hover {
  background-color: $button-hover;
  transition: background-color 0.25s ease-in-out, color 0.3s ease-in-out;
}
