@import "./base";

header {
  background-color: $header-background;
  .sign-in {
    background-color: transparent;
    border: none;
    font-weight: bold;
    text-transform: none;
    color: $dark-main;
    cursor: pointer;
    font-size: 15px;
  }
  .sign-in:hover {
    color: $sign-in-hover;
  }
  .sign-in-hidden {
    display: none;
  }
  .signed-in-user {
    font-weight: bold;
    text-transform: none;
    font-size: 15px;
    color: $dark-main;
    padding: 10px;
    margin: 5px;
  }
}

.beauty-logo {
  height: 50px;
}

nav {
  margin: 0 auto;
  padding: 7px 0px;
  background-color: $dark-main;
}

.nav-link {
  margin: 20px;
  color: $nav-text;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  border-bottom: 2px solid $nav-text;
  cursor: pointer;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 15px;
}

.sign-in-flex {
  display: flex;
}

.modal {
  height: 500px;
  width: 400px;
  position: relative;
  top: 50px;
  margin: 0 auto;
  padding: 20px;
  background-color: $app-background;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.modal input {
  width: 96%;
  height: 30px;
}

hr {
  width: 100%;
  margin: 20px 0;
  color: $horizontal-line;
}

.set-admin-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

// .set-admin-checkbox-label {
//   padding: 0;
//   margin: 0;
//   vertical-align: center;
//   text-align: left;
// }

// .set-admin-checkbox-input {
//   position: relative;
// }

@media (max-width: 500px) {
  .header-flex {
    flex-direction: column;
    margin: 20px 15px;
  }
  .nav-link {
    margin: 10px;
    color: $nav-text;
    text-decoration: none;
    font-weight: bold;
  }
}
