@import "./base";

.home {
  main {
    text-align: left;
    height: 65vh;
    padding: 10% 3%;
    box-sizing: border-box;
    background-image: url("../images/serumHeroResize.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 25px 0;
    color: $header-text;
  }

  h2 {
    padding: 6% 2% 1% 2%;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
  }

  p {
    padding: 0;
    font-size: 20px;
    color: $header-text;
    max-width: 350px;
  }

  button {
    margin: 30px 0;
    padding: 15px;
    font-size: 18px;
  }
  .three-links {
    padding: 2%;
    display: flex;
    justify-content: space-around;
    img {
      height: 400px;
      width: 400px;
    }
    h4 {
      padding: 5% 0 25% 0;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      color: $header-text;
    }
  }

  .home-link {
    text-decoration: none;
  }

  .overlay {
    height: 45vh;
    color: $light-header-text;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url("../images/serumHeroResize.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      padding: 0 2%;
    }
  }

  .one-pic {
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h2 {
      display: inline;
      padding: 0 4%;
    }
  }

  .homepage-one-pic {
    width: 45vh;
  }

  .no-pic {
    background-color: $section-background;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      padding: 30px 2% 0 2%;
    }
  }

  @media (max-width: 500px) {
    .three-links {
      flex-direction: column;
      h4 {
        padding: 1% 0 10% 0;
      }
      img {
        height: 250px;
        width: 250px;
      }
    }
    main {
      text-align: center;
    }
    p {
      padding: 1% 10%;
      max-width: 500px;
    }
    h2 {
      padding: 6% 2%;
    }
    .one-pic {
      flex-direction: column;
      padding-bottom: 40px;
      h2 {
        display: inline;
        padding: 20px;
      }
      .homepage-one-pic {
        width: 300px;
      }
    }
  }
  @media (max-width: 1380px) {
    .three-links {
      img {
        height: 250px;
        width: 250px;
      }
    }
  }
}
