.home {
  main {
    text-align: left;
    height: 65vh;
    padding: 10% 3%;
    box-sizing: border-box;
    background-image: url("../images/serumHeroResize.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 25px 0;
  }

  h2 {
    padding: 6% 0 1% 0;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
  }

  p {
    padding: 0;
    font-size: 15px;
    color: black;
  }

  button {
    margin: 10px 0;
  }
}

.three-links {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  img {
    height: 400px;
    width: 400px;
  }
  h4 {
    padding-bottom: 15%;
    font-size: 18px;
    font-weight: normal;
    color: #001;
  }
}

.home-link {
  text-decoration: none;
}

.overlay {
  height: 45vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../images/serumHeroResize.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-pic {
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h2 {
    display: inline;
  }
}

.homepage-one-pic {
  width: 45vh;
}

.no-pic {
  background-color: #d4c4cf;
  height: 45vh;
}
