@import "./base";

.skincare-product {
  padding: 3%;
  h1 {
    font-size: 25px;
    padding: 2% 0;
  }
  h2 {
    text-align: left;
    margin: 1% 8%;
  }
  .add-review-button {
    display: flex;
    margin: 0 8%;
  }
  .review-button-link {
    text-decoration: none;
  }
}

.product-overview {
  display: flex;
  justify-content: center;
  background-color: $product-background;
  margin: 2% 8%;

  .indiv-product-image {
    max-height: 700px;
    max-width: 600px;
    padding: 2%;
  }

  .product-info {
    text-align: left;
    padding: 4% 2%;
  }

  h4 {
    font-size: 18px;
    padding: 2% 0;
  }

  span {
    font-weight: normal;
  }
}

.product-reviews {
  text-align: left;
  margin: 1% 8%;
  h3,
  p {
    font-size: 15px;
    font-weight: normal;
  }

  .product-reviews-indiv {
    border-bottom: 1px solid $horizontal-line;
    padding-bottom: 20px;
  }
}
