.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3% 6%;
  min-width: 350px;
}

.product {
  margin: 5px;
  height: 320px;
  width: 300px;
  background-color: white;
  position: relative;
  color: #4a3b54;
  text-decoration: none;

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 13px;
    font-weight: normal;
  }
}

.product-image {
  max-height: 225px;
  max-width: 200px;
}
