@import "./base";

.skincare-product {
  padding: 3%;
  h1 {
    font-size: 25px;
    padding: 2% 0;
  }
  h2 {
    text-align: left;
    margin: 3% 8% 1% 8%;
  }
  .add-review-button {
    display: flex;
    margin: 0 8%;
  }
  .review-button-link {
    text-decoration: none;
  }
  .product-overview {
    display: flex;
    justify-content: center;
    background-color: $product-background;
    margin: 2% 8%;
    .indiv-product-image {
      max-width: 500px;
      padding: 2%;
      object-fit: contain;
    }

    .product-info {
      text-align: left;
      padding: 4% 2%;
    }

    h4 {
      font-size: 18px;
      padding: 2% 2% 2% 0;
    }

    span {
      font-weight: normal;
    }
  }

  .product-reviews {
    text-align: left;
    margin: 2% 8%;
    h3,
    p {
      font-size: 15px;
      font-weight: normal;
    }

    .product-reviews-indiv {
      border-bottom: 1px solid $horizontal-line;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      p {
        width: 45vw;
        text-align: left;
        margin: 10px 25px;
      }
      .delete-visible {
        background-color: transparent;
        border: 2px solid $dark-main;
        color: $dark-main;
        height: 30px;
        width: 70px;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        border-radius: 10px;
        margin: 20px;
        padding: 5px;
      }
      .delete-visible:hover {
        background-color: $dark-main;
        border: 2px solid $dark-main;
        color: #fff;
      }
      .delete-hidden {
        visibility: hidden;
      }
      span {
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }

  @media (max-width: 1200px) {
    .product-overview {
      flex-direction: column;
      padding: 8%;
    }
    .indiv-product-image {
      max-height: 450px;
    }
  }

  @media (max-width: 500px) {
    .product-overview {
      flex-direction: column;
      padding: 8%;
    }
  }
}
