@import "./Components/base";

.App {
  text-align: center;
  box-sizing: border-box;
  background-color: $app-background;
  .footer-text {
    padding-top: 25px;
    color: $footer-text;
    font-size: 13px;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0px;
  }
}

button {
 @include button-main;
}

button:hover {
 @include button-hover;
 }

footer {
  background-color: $footer-background;
  height: 80px;
  padding-top: 30px;
}
