@import "./Components/base";

.App {
  text-align: center;
  box-sizing: border-box;
  background-color: $app-background;
  p {
    padding-top: 25px;
    color: $footer-text;
    font-size: 13px;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0px;
  }
}

button {
  background-color: $dark-main;
  border: none;
  color: $app-background;
  padding: 10px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
}

button:hover {
  background-color: $button-hover;
 }

footer {
  background-color: $footer-background;
  height: 80px;
}
